.error {
    color: #ff0000;
}

.errorblock {
    color: #000;
    background-color: #ffEEEE;
    border: 3px solid #ff0000;
    padding: 8px;
    margin: 16px;
}

.messageblock {
    color: #000;
    background-color: #98fb98;
    border: 3px solid green;
    padding: 8px;
    margin: 16px;
}

.contentpanel {
    margin-top: 15px;
    background: white;
    border: 1px solid #999;
    padding: 20px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    line-height: 25px !important
}

.contentpanel ul {
    list-style: disc
}

.contentpanel ul li {
    line-height: 25px !important
}

.contentpanel ol {
    list-style-type: decimal
}

.contentpanel ol li {
    line-height: 25px !important
}

.contentpanel h2 {
    font-size: 25px;
    line-height: 30px
}

.Premium {
    background-color: yellow;
    max-width: 850px
}

.Admin {
    background-color: blue;
    max-width: 850px
}